In [1]:
import tools.conf
import psycopg2
from psycopg2 import sql
# import psycopg
# from psycopg import sql
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('./data/baza.csv', delimiter=';', thousands=',', dtype={'dł_ujednolicona': 'object'}, encoding='utf-8')
df.sort_values(by='data', axis=0, inplace=True)
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)
ind = df.index.values + 1
# df['ad_time_details'] = df[['data', 'kod_reklamy', 'submedium']].apply(lambda x: f'{x[0]} - {x[1]} - {x[2]} - {ind[x.name]}', axis=1)
df['ad_time_details'] = df[['data', 'kod_reklamy']].apply(lambda x: f'{x[0]} - {x[1]} - {ind[x.name]}', axis=1)

/tmp/ipykernel_11154/430506829.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['ad_time_details'] = df[['data', 'kod_reklamy']].apply(lambda x: f'{x[0]} - {x[1]} - {ind[x.name]}', axis=1)

In [49]:
df['ad_time_details'].head()

0    2023-08-01 - 22194483 - 1
1    2023-08-01 - 22179830 - 2
2    2023-08-01 - 22194487 - 3
3    2023-08-01 - 22194445 - 4
4    2023-08-01 - 22194475 - 5
Name: ad_time_details, dtype: object

In [ ]:
dow2 = ['Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek',
        'Sobota', 'Niedziela']

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()


for day in dow2:
    cur.execute(
        sql.SQL('INSERT INTO {} (dow_name) VALUES (%s)')
        .format(sql.Identifier('pl_dow_names')), (day,)
    )

conn.commit()
conn.close()

In [ ]:
months = ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj',
          'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień',
          'Październik', 'Listopad', 'Grudzień']

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()


query = sql.SQL('INSERT INTO {table} ({field}) VALUES (%s)')

for month in months:
    cur.execute(
        query.format(
            table=sql.Identifier('pl_month_names'),
            field=sql.Identifier('month_name')), (month,)
    )

conn.commit()
conn.close()

In [ ]:
dates = df['data'].unique()
dates

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()


query = sql.SQL('INSERT INTO {table} ({field}) VALUES (%s)')

for date in dates:
    cur.execute(
        query.format(
            table=sql.Identifier('date_time'),
            field=sql.Identifier('date')), (date,)
    )

conn.commit()
conn.close()

In [ ]:
brands = df['brand'].sort_values().unique()
brands

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()

query = sql.SQL('INSERT INTO {table} ({field}) VALUES(%s)')

for brand in brands:
    cur.execute(
        query.format(
            table=sql.Identifier('brands'),
            field=sql.Identifier('brand')), (brand,)
    )

conn.commit()
conn.close()

In [ ]:
lengths = df['dł_ujednolicona'].sort_values().unique()
lengths

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()

query = sql.SQL('INSERT INTO {table} ({field}) VALUES (%s)')

for length in lengths:
    cur.execute(
        query.format(
            table=sql.Identifier('unified_lenghts'),
            field=sql.Identifier('length')), (str(length),)
    )
    
conn.commit()
conn.close()

In [ ]:
dayparts = df['daypart'].unique()
dayparts

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()

query = sql.SQL('INSERT INTO {table} ({field}) VALUES (%s)')

for daypart in dayparts:
    cur.execute(
        query.format(
            table=sql.Identifier('dayparts'),
            field=sql.Identifier('daypart')), (str(daypart),)
    )
    
conn.commit()
conn.close()

In [ ]:
product_types = df['produkt(4)'].sort_values().unique()
product_types

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()

query = sql.SQL('INSERT INTO {table} ({field}) VALUES (%s)')

for product in product_types:
    cur.execute(
        query.format(
            table=sql.Identifier('product_types'),
            field=sql.Identifier('product_type')), (str(product),)
    )
    
conn.commit()
conn.close()

In [ ]:
broadcasters = df['wydawca_nadawca'].sort_values().unique()
broadcasters

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()

query = sql.SQL('INSERT INTO {table} ({field}) VALUES (%s)')

for broadcaster in broadcasters:
    cur.execute(
        query.format(
            table=sql.Identifier('broadcasters'),
            field=sql.Identifier('broadcaster')), (str(broadcaster),)
    )
    
conn.commit()
conn.close()

In [ ]:
reaches = df['zasięg medium'].unique()
reaches

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()

query = sql.SQL('INSERT INTO {table} ({field}) VALUES (%s)')

for reach in reaches:
    cur.execute(
        query.format(
            table=sql.Identifier('ad_reach'),
            field=sql.Identifier('reach')), (str(reach),)
    )
    
conn.commit()
conn.close()

In [ ]:
df.head(2)

In [ ]:
submediums = df[['submedium', 'wydawca_nadawca', 'zasięg medium']].sort_values(by='submedium')
submediums.drop_duplicates(subset=['submedium'], keep='first', inplace=True, ignore_index=True)
submediums.index = submediums.index + 1
# submediums

In [ ]:
sum(submediums.value_counts()) == submediums.index.max()

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()

query1 = sql.SQL('SELECT {fields} FROM {table}').format(
    fields=sql.SQL(',').join([
        sql.Identifier('broadcaster'),
        sql.Identifier('id')
    ]),
    table=sql.Identifier('broadcasters'))

cur.execute(query1)

broadcasters = dict(cur.fetchall())

query2 = sql.SQL('SELECT {fields} FROM {table}').format(
    fields=sql.SQL(',').join([
        sql.Identifier('reach'),
        sql.Identifier('id')
    ]),
    table=sql.Identifier('ad_reach'))

cur.execute(query2)

ad_reach = dict(cur.fetchall())


submediums['wydawca_nadawca'] = submediums['wydawca_nadawca'].map(broadcasters)
submediums['zasięg medium'] = submediums['zasięg medium'].map(ad_reach)


query3 = sql.SQL("INSERT INTO {table} ({field1}, {field2}, {field3}) VALUES (%s, %s ,%s)")

for index, submedium in submediums.iterrows():
    cur.execute(
        query3.format(
            table=sql.Identifier('mediums'),
            field1=sql.Identifier('submedium'),
            field2=sql.Identifier('broadcaster_id'),
            field3=sql.Identifier('ad_reach_id')), 
            (submedium["submedium"], submedium["wydawca_nadawca"], submedium["zasięg medium"],)
    )

conn.commit()

conn.close()

In [ ]:
ad_time = df[['data', 'godzina_bloku_reklamowego', 'gg', 'mm', 'dl_mod', 'daypart', 'dł_ujednolicona', 'ad_time_details']]
# ad_time['kod_reklamy'] = ad_time[['data', "kod_reklamy"]].apply(lambda x: str(x[0]) + ' - ' + str(x[1]), axis=1)
ad_time.index = ad_time.index + 1


conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()

query1 = sql.SQL('SELECT {fields} FROM {table}').format(
    fields=sql.SQL(',').join([
        sql.Identifier('length'),
        sql.Identifier('id')
        ]),
    table=sql.Identifier('unified_lenghts'))

cur.execute(query1)
unified_lengths = dict(cur.fetchall())

query2 = sql.SQL('SELECT {fields} FROM {table}').format(
    fields=sql.SQL(',').join([
        sql.Identifier('daypart'),
        sql.Identifier('id')
        ]),
    table=sql.Identifier('dayparts'))

cur.execute(query2)
dayparts = dict(cur.fetchall())


ad_time['daypart'] = ad_time['daypart'].map(dayparts)
ad_time['dł_ujednolicona'] = ad_time['dł_ujednolicona'].map(unified_lengths)



query3 = sql.SQL(
    '''
    INSERT INTO {table} ({field1}, {field2}, {field3}, {field4}, {field5}, {field6}, {field7}, {field8}) 
    VALUES (%s, %s ,%s, %s ,%s, %s ,%s, %s)
    ''')

for _, elem in ad_time.iterrows():
    cur.execute(
        query3.format(
            table=sql.Identifier('ad_time_details'),
            field1=sql.Identifier('date'),
            field2=sql.Identifier('ad_slot_hour'),
            field3=sql.Identifier('gg'),
            field4=sql.Identifier('mm'),
            field5=sql.Identifier('length_mod'),
            field6=sql.Identifier('daypart_id'),
            field7=sql.Identifier('unified_length_id'),
            field8=sql.Identifier('ad_code')), 
            (elem['data'], elem['godzina_bloku_reklamowego'], elem['gg'], 
             elem['mm'], elem['dl_mod'], elem['daypart'], 
             elem['dł_ujednolicona'], elem['kod_reklamy'],
            )
    )

conn.commit()

conn.close()

ad_time.head(5)

In [ ]:
conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()

table = 'mediums'

query = sql.SQL(
    '''
    SELECT c.column_name 
    FROM information_schema.columns c 
    WHERE c.table_name = %s
    ORDER BY c.ordinal_position;
    ''').format()

cur.execute(query, (table,))

data = cur.fetchall()
temp = []
for elem in data[1:]:
    temp.append(elem[0])
data = temp

conn.close()

data

In [7]:
df.head(1)

,data,dzien,dzien_tyg,nr_tyg,rok,miesiac,zasięg medium,brand,produkt(4),kod_reklamy,opis_reklamy,wydawca_nadawca,typ_reklamy,submedium,dl_mod,gg,mm,koszt,l_emisji,daypart,dł_ujednolicona,godzina_bloku_reklamowego,ad_time_details
0,2023-08-01,1,Wtorek,31,2023,8,regionalne,MEDIA MASTER,GRUPA,22194483,PATRZ BARBARA NO ALE..MEGA OKAZJE..SF SAMSUNG ...,SOME GROUP,reklama,SOME MINN Bydgoszcz,29,8,20,310,1,do 9,30,8:00-8:29,2023-08-01 - 22194483

In [3]:
ad_desc = df[['data', 'opis_reklamy', 'kod_reklamy', 'brand', 'submedium', 'ad_time_details', 'produkt(4)', 'koszt', 'l_emisji', 'typ_reklamy']]
# ad_time.index = ad_time.index + 1


conn = psycopg2.connect(
    f'''dbname={tools.conf.DB} 
        user={tools.conf.USER} 
        host={tools.conf.HOST}
        port={tools.conf.PORT}
    '''
    )
cur = conn.cursor()

query1 = sql.SQL('SELECT {fields} FROM {table}').format(
    fields=sql.SQL(',').join([
        sql.Identifier('brand'),
        sql.Identifier('id')
        ]),
    table=sql.Identifier('brands'))

cur.execute(query1)
brands_id = dict(cur.fetchall())


query2 = sql.SQL('SELECT {fields} FROM {table}').format(
    fields=sql.SQL(',').join([
        sql.Identifier('submedium'),
        sql.Identifier('id')
        ]),
    table=sql.Identifier('mediums'))

cur.execute(query2)
medium_id = dict(cur.fetchall())


query3 = sql.SQL('SELECT {fields} FROM {table}').format(
    fields=sql.SQL(',').join([
        sql.Identifier('ad_code'),
        sql.Identifier('id')
        ]),
    table=sql.Identifier('ad_time_details'))

cur.execute(query3)
ad_time_details_id = dict(cur.fetchall())


query4 = sql.SQL('SELECT {fields} FROM {table}').format(
    fields=sql.SQL(',').join([
        sql.Identifier('product_type'),
        sql.Identifier('id')
        ]),
    table=sql.Identifier('product_types'))

cur.execute(query4)
product_type_id = dict(cur.fetchall())


ad_desc['brand'] = ad_desc['brand'].map(brands_id)
ad_desc['submedium'] = ad_desc['submedium'].map(medium_id)
ad_desc['ad_time_details'] = ad_desc['ad_time_details'].map(ad_time_details_id)
ad_desc['produkt(4)'] = ad_desc['produkt(4)'].map(product_type_id)




query5 = sql.SQL(
    '''
    INSERT INTO {table} ({field1}, {field2}, {field3}, {field4}, {field5}, {field6}, {field7}, {field8}, {field9}, {field10}) 
    VALUES (%s, %s ,%s, %s ,%s, %s ,%s, %s, %s, %s)
    ''')

for _, elem in ad_desc.iterrows():
    cur.execute(
        query5.format(
            table=sql.Identifier('ads_desc'),
            field1=sql.Identifier('date'),
            field2=sql.Identifier('ad_description'),
            field3=sql.Identifier('ad_code'),
            field4=sql.Identifier('brand_id'),
            field5=sql.Identifier('medium_id'),
            field6=sql.Identifier('ad_time_details_id'),
            field7=sql.Identifier('product_type_id'),
            field8=sql.Identifier('cost'),
            field9=sql.Identifier('num_of_emissions'),
            field10=sql.Identifier('type')), 
            (elem['data'], elem['opis_reklamy'], elem['kod_reklamy'], 
             elem['brand'], elem['submedium'], elem['ad_time_details'], 
             elem['produkt(4)'], elem['koszt'], elem['l_emisji'], 
             elem['typ_reklamy'],
            )
    )
conn.commit()

conn.close()

ad_desc.head(15)

/tmp/ipykernel_11154/2821312121.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ad_desc['brand'] = ad_desc['brand'].map(brands_id)
/tmp/ipykernel_11154/2821312121.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ad_desc['submedium'] = ad_desc['submedium'].map(medium_id)
/tmp/ipykernel_11154/2821312121.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ad_desc['ad_time_details'] = ad_desc['ad_time_details'].map(ad_time_details_id)
/tmp/ipykernel_11154/2821312121.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ad_desc['produkt(4)'] = ad_desc['produkt(4)'].map(product_type_id)

,data,opis_reklamy,kod_reklamy,brand,submedium,ad_time_details,produkt(4),koszt,l_emisji,typ_reklamy
0,2023-08-01,PATRZ BARBARA NO ALE..MEGA OKAZJE..SF SAMSUNG ...,22194483,2,78,1,2,310,1,reklama
1,2023-08-01,MARIAN A GDZIE MOGĘ KUPIĆ..DOKUPIĆ..ŻEBY TO WS...,22179830,2,13,2,2,311,1,reklama
2,2023-08-01,PATRZ BARBARA NO ALE..MEGA OKAZJE..TV SMART PH...,22194487,2,125,3,2,73,1,reklama
3,2023-08-01,PATRZ BARBARA NO ALE..MEGA OKAZJE..AUT. EKSPRE...,22194445,2,125,4,2,67,1,reklama
4,2023-08-01,BARBARA W - SĄ MEGA OKAZJE..MULTIRABATY..IM WI...,22194475,2,125,5,2,67,1,reklama
5,2023-08-01,PATRZ BARBARA NO ALE..MEGA OKAZJE..ROBOT SPRZ....,22194472,2,125,6,2,67,1,reklama
6,2023-08-01,MEGA OKAZJE W - SF LAP G TV SMART EKSPRESY AUT...,22194443,2,125,7,2,66,1,reklama
7,2023-08-01,MARIAN A GDZIE MOGĘ KUPIĆ..DOKUPIĆ..ŻEBY TO WS...,22179830,2,125,8,2,66,1,reklama
8,2023-08-01,MEGA OKAZJE W - A DO TEGO DO 40 RAT 0% PRZY ZA...,22194438,2,125,9,2,86,1,reklama
9,2023-08-01,PATRZ BARBARA NO ALE..MEGA OKAZJE..SMARTWATCH ...,22194489,2,125,10,2,56,1,reklama
10,2023-08-01,PATRZ BARBARA NO ALE..MEGA OKAZJE..SF SAMSUNG ...,22194483,2,124,11,2,95,1,reklama
11,2023-08-01,MEGA OKAZJE W - A DO TEGO DO 40 RAT 0% PRZY ZA...,22194438,2,124,12,2,192,1,reklama
12,2023-08-01,PATRZ BARBARA NO ALE..MEGA OKAZJE..TV SMART PH...,22194487,2,124,13,2,214,1,reklama
13,2023-08-01,PATRZ BARBARA NO ALE..MEGA OKAZJE..AUT. EKSPRE...,22194445,2,124,14,2,190,1,reklama
14,2023-08-01,BARBARA W - SĄ MEGA OKAZJE..MULTIRABATY..IM WI...,22194475,2,124,15,2,190,1,reklama